{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="about">
    <div class="abt-txt">
        <h4>“Welcome to our online store! We offer a wide range of authentic, 
          high-quality spices sourced from the spice belt of Kerala, India. 
          Our collection includes popular spices like cardamom, black pepper, clove, cinnamon, poppy seeds, bay leaves, turmeric, ginger, star anise, nutmeg, and many more.
           All our spices are handpicked by our team of experts to ensure that you receive only the best quality products.
            We also offer ayurvedic oils, masala powders, and Kerala special snacks. 
           Our products are available at affordable prices and we offer free shipping across India for orders above ₹1500. 
           Shop with us and experience the true essence of Indian spices!”
          If you need any more help, feel free to ask!</h4>
    </div>
</div>
<div class="site_footer" style="height: 100%;margin-top: 20%;">
  
    <div>🏠 Address
      <div><br>
        <p>56105 Bogisich Groves,<br> South Queenieport, CO 73239</p>
      </div>
    </div>
      
  
    <div> ☎️ Contact
      <div><br>
        <p>Ph : 0099-12583694</p>
      </div>
    </div>
    
  
    <div>🌐 Social media
      <div><br>
        <p><a href="https://fb.com">Facebook</a></p>
        <p><a href="https://instagram.com">Instagram</a></p>
        <p><a href="https://twitter.com">Twitter</a></p>
      </div>
    </div>
    
  </div>
{% endblock %}